.header {
    display: block;
    background-color: #4444b6;
    border-radius: 0px 0px 25px 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.bottombar {
    text-align: center;
    display: block;
    background-color: #4444b6;
    color: #dddddf;
    border-radius: 5px 5px 0px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.link {
    display: inline-block;
    border: 1px solid #aaaadf;
    background-color: #8888df;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    margin: 2px;
    color: #dddddf;
}

.activelink {
    border: 1px solid #00ff00;
}

.header2 {
    display: block;
    background-color: #aaaaaa;
    border-radius: 0px 0px 25px 25px;
    left: 0;
    width: 100%;
    visibility: hidden;
    text-align: center;
}

.noConnection {
    display: block;
    position: fixed;
    top: 1vw;
    left: 1vw;
    width: 98vw;
    height: 5vw;
    text-align: center;
    color: white;
    background-color: #ff0000;
    border-radius: 10px;
    z-index: 100;
    animation-name: fadein;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fadein {
    from {opactiy: 0;}
    to {opacity: 1;}
}

textarea {
  resize: none;
}
